<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ImportData.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ImportData.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="Production" type="System.Configuration.NameValueSectionHandler"/>
    <section name="QA" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <Production>
    <add key="IsR10Site" value="False"/>
    <add key="EncryptedUser" value="3MgMFqBl2687QN0IhhpolA=="/>
    <add key="EncryptedPass" value="IprlIG2MWPMBO7e+ezglfQ=="/>
    <add key="ISQLPath" value="C:\Program Files\Borland\Interbase\bin\ISQL.exe"/>
    <add key="EmailRecipient" value="TicketTracker.HelpDesk@pilottravelcenters.com"/>
    <add key="MailSender" value="DoNotReply@pilottravelcenters.com"/>
    <add key="OFBMissingEmailRecipient" value="Dustin.Harmon@pilottravelcenters.com;Travis.Russell@pilottravelcenters.com;Dean.Day@pilottravelcenters.com;Jennifer.McClurkan@pilottravelcenters.com;Nathan.Bowers@pilottravelcenters.com"/>
    <add key="PendingPricebatchEmailRecipient" value="PriceBatchAlert@pilottravelcenters.com;TicketTracker.HelpDesk@pilottravelcenters.com"/>
    <add key="RcvDatFileAgeWarningEmailRecipient" value="PriceBatchAlert@pilottravelcenters.com;TicketTracker.HelpDesk@pilottravelcenters.com"/>
    <add key="IncludeNullPriceModHdrDates" value="False"/>
    <add key="AutoPriceSrvOnPriceModHdrRecordsReturned" value="False"/>
    <add key="ExternalEventRunnerKillOnMaxRetries" value="False"/>
    <add key="PriceModHdrCriteria" value="=P;Options are =P, =A, !C"/>
    <add key="LogFileMaxSizeInMB" value="5"/>
    <add key="PendingPricebatchEmailHours" value="2,8,12"/>
    <add key="PendingPricebatchDays" value="7"/>
    <add key="FirstAlert" value="4"/>
    <add key="NextAlert" value="24"/>
    <add key="ExternalEventLaunchProcessTimerInMinutes" value="15"/>
    <add key="LogLevel" value="5"/>
    <add key="Debug" value="False"/>
    <add key="MaskPrompts" value="True"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DoFixItWithoutDatFiles" value="True"/>
    <add key="DoAutoPostSales" value="True"/>
    <add key="DoAutoPriceSrv" value="True"/>
    <add key="PostSalesSleepTimeInSeconds" value="180"/>
    <add key="PostSalesMaxRetryAttempts" value="3"/>
    <add key="PendingPostSalesContinueIfTrue" value="True"/>
    <add key="PendingPostSalesForceSetToTrue" value="False"/>
    <add key="AutoPriceSrvOnEachRun" value="False"/>
    <add key="DbUpgraderDelayInSeconds" value="60"/>
    <add key="DbUpgraderRunningMaxRetryAttempts" value="60"/>
    <add key="ExternalEventRunnerDelayInSeconds" value="60"/>
    <add key="ExternalEventRunnerMaxRetryAttempts" value="5"/>
    <add key="ImportExeMaxRetryAttempts" value="5"/>
    <add key="RcvDatFileAgeWarningInDays" value="3"/>
    <add key="ImportExeDelayAfterExitInSeconds" value="10"/>
    <add key="RPOBuildFilesMinHour" value="0"/>
    <add key="RPOBuildFilesMaxHour" value="3"/>
  </Production>
  <QA>
    <add key="IsR10Site" value="False"/>
    <add key="EncryptedUser" value="3MgMFqBl2687QN0IhhpolA=="/>
    <add key="EncryptedPass" value="IprlIG2MWPMBO7e+ezglfQ=="/>
    <add key="ISQLPath" value="C:\Program Files\Borland\Interbase\bin\ISQL.exe"/>
    <add key="MailSender" value="DoNotReply@pilottravelcenters.com"/>
    <add key="EmailRecipient" value="Andrew.Marsh@pilottravelcenters.com;Jen.Rose@pilottravelcenters.com;Jeff.Mason@pilottravelcenters.com;greg.taylor@pilottravelcenters.com"/>
    <add key="OFBMissingEmailRecipient" value="Andrew.Marsh@pilottravelcenters.com;Jen.Rose@pilottravelcenters.com;Jeff.Mason@pilottravelcenters.com;greg.taylor@pilottravelcenters.com;Dustin.Harmon@pilottravelcenters.com;Travis.Russell@pilottravelcenters.com;Dean.Day@pilottravelcenters.com;Jennifer.McClurkan@pilottravelcenters.com;Nathan.Bowers@pilottravelcenters.com"/>
    <add key="PendingPricebatchEmailRecipient" value="Andrew.Marsh@pilottravelcenters.com;Jen.Rose@pilottravelcenters.com;Jeff.Mason@pilottravelcenters.com;greg.taylor@pilottravelcenters.com"/>
    <add key="RcvDatFileAgeWarningEmailRecipient" value="Andrew.Marsh@pilottravelcenters.com;Jen.Rose@pilottravelcenters.com;Jeff.Mason@pilottravelcenters.com;greg.taylor@pilottravelcenters.com"/>
    <add key="IncludeNullPriceModHdrDates" value="False"/>
    <add key="AutoPriceSrvOnPriceModHdrRecordsReturned" value="False"/>
    <add key="ExternalEventRunnerKillOnMaxRetries" value="False"/>
    <add key="PriceModHdrCriteria" value="=P;Options are =P, =A, !C"/>
    <add key="LogFileMaxSizeInMB" value="5"/>
    <add key="PendingPricebatchEmailHours" value="2,8,12"/>
    <add key="PendingPricebatchDays" value="1"/>
    <add key="FirstAlert" value="4"/>
    <add key="NextAlert" value="24"/>
    <add key="ExternalEventLaunchProcessTimerInMinutes" value="15"/>
    <add key="LogLevel" value="15"/>
    <add key="Debug" value="False"/>
    <add key="MaskPrompts" value="True"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DoFixItWithoutDatFiles" value="True"/>
    <add key="DoAutoPostSales" value="True"/>
    <add key="DoAutoPriceSrv" value="True"/>
    <add key="PostSalesSleepTimeInSeconds" value="180"/>
    <add key="PostSalesMaxRetryAttempts" value="3"/>
    <add key="PendingPostSalesContinueIfTrue" value="True"/>
    <add key="PendingPostSalesForceSetToTrue" value="False"/>
    <add key="AutoPriceSrvOnEachRun" value="False"/>
    <add key="DbUpgraderDelayInSeconds" value="60"/>
    <add key="DbUpgraderRunningMaxRetryAttempts" value="60"/>
    <add key="ExternalEventRunnerDelayInSeconds" value="60"/>
    <add key="ExternalEventRunnerMaxRetryAttempts" value="5"/>
    <add key="ImportExeMaxRetryAttempts" value="5"/>
    <add key="RcvDatFileAgeWarningInDays" value="3"/>
    <add key="ImportExeDelayAfterExitInSeconds" value="10"/>
    <add key="RPOBuildFilesMinHour" value="0"/>
    <add key="RPOBuildFilesMaxHour" value="3"/>
  </QA>
  <appSettings>
    <add key="RelayServer" value="pilotrelay"/>
    <add key="ASNDataPath" value="C:\Pilot\Data"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <ImportData.My.MySettings>
      <setting name="ImportData_MessengerWebService_MessengerWebService" serializeAs="String">
        <value>http://knxintranet4/ElectronicBoardPricing/MessengerWebService.asmx</value>
      </setting>
    </ImportData.My.MySettings>
  </applicationSettings>
  <userSettings>
    <ImportData.My.MySettings>
      <setting name="Fuelman" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="Pilot Fleet Yellow" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="Pilot Fleet Yellow" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Pilot Fleet White" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="Pilot Fleet Truck" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="PilotFleet (S/F)" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name=" Comdata" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name=" Comdata" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="ComData Express Code" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Comchek Direct" serializeAs="String">
        <value>ExpressCode,10</value>
      </setting>
      <setting name="Comchek Direct" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="(SF)%" serializeAs="String">
        <value>DriverPIN</value>
      </setting>
      <setting name="TCH" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="TCH" serializeAs="String">
        <value>CNTN</value>
      </setting>
      <setting name="TCH" serializeAs="String">
        <value>PPIN</value>
      </setting>
      <setting name="TCH" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="TCH PFJ Owner" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="T Che%" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="T Che%" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="TChek Cash Express" serializeAs="String">
        <value>MoneyCode,12</value>
      </setting>
      <setting name="TChek Cash Express" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="TChek Cash Express" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="EFS" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="EFS" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Voyager" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="Wright Express" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="Wright Express" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Multi Serve" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="Z-CON" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="Maverick" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="Multi Serve" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Petro Canada" serializeAs="String">
        <value>PPIN</value>
      </setting>
      <setting name="FleetOne OTR" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="FleetOne OTR" serializeAs="String">
        <value>VehicleID</value>
      </setting>
      <setting name="FleetOne OTR" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="FleetOne Local" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="FleetOne Local" serializeAs="String">
        <value>VehicleID</value>
      </setting>
      <setting name="Cash%" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="MC" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="MC" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="Visa" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Visa" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="AMEX" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Discover" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Discover" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="Debit Card" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Debit Card" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="SSA" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="SSA" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="MC Fleet" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="MC Fleet" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="Imperial Oil" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Imperial Oil" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="US Bank OTR" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="US Bank OTR" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="Husky Oil" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="JBHunt" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="JBHunt" serializeAs="String">
        <value>DriverID</value>
      </setting>
      <setting name="Z-CON" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="E-Check" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="EFS LLC Checks" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Misc Check" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Payroll Check" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Trans Comm Check" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="Business Check" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="E-ComCheck" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="E-EFS Trans Chk" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="E-FleetOne Plus Chk" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="%Comdata Check" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="E-Other Checks" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="US Bank Check" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="MultiService Check" serializeAs="String">
        <value>DLNumber</value>
      </setting>
      <setting name="MyRewards Points" serializeAs="String">
        <value>DLNumber</value>
      </setting>
    </ImportData.My.MySettings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
